h1{
	text-align: center;
	font-size: 220%;
	font-style: oblique;

}
*{
	box-sizing: border-box;
}
/*.container{
	height:600px;
	width:100%;
	postition:relative;
}*/
.row{
	width: 100%;
}
.para{
	margin: 20px 0px 20px 15px;
	/*height:80%;*/
	border: 1px solid black;
	background: linear-gradient(#cc00cc, #ffccff);
	padding-top: 0px;
	padding:6px;
	line-height:25px;
	font-size:120%;
	font-family: cursive, serif, Arial, Helvetica, sans-serif ;
	font-style: italic;

}
#dish1{
	background: #ffb3ff;
	border: 1px solid black;
	font-size: 23px;
	colour: #000000;
	font-weight: bolder;
}
#dish2{
	background: #ff80ff;
	border: 1px solid black;
	font-size: 23px;
	colour: #000000;
	font-weight: bolder;
}
#dish3{
	background: #ff99ff;
	border: 1px solid black;
	font-size: 23px;
	colour: #000000;
	font-weight: bolder;
}
p{
	text-align: 78%;
	position:relative;
	left:76%;
	width:25%;
	height:30px;
	margin:2px ;
	padding:2px;
}
/* FOR ONLY LARGE DEVICE */
@media(min-width: 992px){
	.col-lg-4{
	    float: left;
	    width: 33%;
    }
}
/* FOR ONLY TABLET DEVICE */
@media(min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float:left;
		width:50%;
    }
}
@media(max_width: 990px){
	.col-sm-12{
		float:left;
		width:100%;
	}
}